<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
		<div id="error_explanation">
			<h2><%= @task.errors.count %> Error(s) prohibited this from being saved:</h2>
			<ul>
				<% @task.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: 'Your task', class: 'form-inline' %>
    <%= f.submit "Submit", class: 'btn btn-primary form-inline' %>
  </div>

<% end %>
